body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

/* make the customizations */
$custom-colors: (
    "primary": #4F64A4,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

$nav-pills-link-active-bg : #4F64A4;
$nav-link-color: #4F64A4;

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";